<!DOCTYPE html>
<html>
  <head>
    {% include 'head-title' %}
    {% include 'head-description' %}
    {% include 'head-open-graph' %}
    {{ content_for_header }}
    {{ 'styles.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {{ content_for_layout }}
    {{ 'script.js' | asset_url | script_tag }}
  </body>
</html>
